<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <title>book notes || Aakash</title>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/images/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/favicon-16x16.png"
    />
    <link rel="manifest" href="/site.webmanifest" />
  </head>
  <body>
    <main class="Container">
      <h1><a href="">AAKASH</a></h1>
      <div class="subHeadingContainer">
        <h2>BOOKS I'VE READ</h2>
        <button class="button" id="addNewBook" type="submit">
          Add New Book
        </button>
      </div>
      <% console.log(src)%>
      <p>
        Tiny summary but detailed notes for each. Use the ISBN number to find it
        from your local library or anywhere else. This page will constantly
        update as I read more, so bookmark it if you want to check back in a few
        months.
      </p>
      <p>
        Sorted with <strong>top recommendations</strong> up top. Sort by
        <a class="boldText" href="">title</a>,
        <a class="boldText" href="">newest</a>, or
        <a class="boldText" href="">best</a>.
      </p>
      <p>
        And please read
        <a class="boldText" href=""><strong>this FAQ page</strong></a> about
        these notes, if you have any questions. You can also
        <a class="boldText" href=""><strong>email me</strong></a
        >.
      </p>
      <hr />
      <% data.forEach((element) => { %>
      <div class="checkFlex">
        <img src="<%= src %>" alt="Panel Image" width="150" height="150" />
        <div class="checkFlex2 lowMargin">
          <h3><%= element.title %></h3>
          <p class="noMargin ratingsStyle">
            Date Read : <%= element.date.toLocaleDateString()%>. How strongly I
            recommend it:<%= element.ratings %>/10
          </p>
        </div>
      </div>
      <p><%= element.notes %></p>
      <div class="buttonContainer">
        <button class="button" type="submit">Read More</button>
        <button class="button" type="submit">Edit</button>
        <button class="button" type="submit">Delete</button>
      </div>
      <hr />
      <% }) %>
    </main>
    <script src="/scripts/buttonHandlers.js"></script>
  </body>
</html>
